[alias]
	# switch to a branch, creating it if it doesn't exist locally or on a remote
	co = "!f() { git switch \"$@\" 2>/dev/null || git switch -c \"$@\"; }; f"
	# difftastic: structural (syntax-aware) diffs on demand
	dft = -c diff.external=difft diff
	dlog = -c diff.external=difft log -p --ext-diff

[blame]
	ignoreRevsFile = .git-blame-ignore-revs

[commit]
	gpgsign = true

[core]
	autocrlf = false
	pager = delta
	hooksPath = .husky

{{ if eq .chezmoi.os "darwin" -}}
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
{{ else -}}
[credential]
	helper = "libsecret"
{{ end }}

[delta]
	navigate = true # n/N jump between files

[diff "sops"]
	textconv = "sops -d"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = "~/.config/git/allowed_signers"

[homebrew]
	analyticsmessage = true
	caskanalyticsmessage = true

[includeif "gitdir:**/github.com/**"]
	path = "~/.config/git/github"

[includeif "gitdir:**/gitlab.com/**"]
	path = "~/.config/git/gitlab"

[init]
	defaultbranch = "main"

[interactive]
	diffFilter = delta --color-only

[lfs]
	repositoryformatversion = 0

[merge]
	conflictStyle = zdiff3

[pager]
	# delta without a pager for diffs, like the old `diff = false`
	diff = delta --paging=never

[pull]
	rebase = "false"

[push]
	autoSetupRemote = true
	default = current

[tag]
	gpgsign = "true"

[url "git@github.com:"]
	insteadof = "https://github.com/"

[url "git@gitlab.com:"]
	insteadof = "https://gitlab.com/"

[user]
	name = "David Mikalova"
	# GPG signing (replaced by SSH signing above)
	# signingkey = "5EBF8795634732EA05ED84275C4017A2573A7913"
	signingkey = "~/.ssh/id_dmikalova.pub"

